@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 39 36 30;
    --foreground: 0 0% 10%;
    --card: 39 36 30;
    --card-foreground: 0 0% 10%;
    --popover: 39 36 30;
    --popover-foreground: 0 0% 10%;
    --primary: 25 77% 31%;
    --primary-foreground: 39 36 30;
    --secondary: 32 39% 91%;
    --secondary-foreground: 0 0% 10%;
    --muted: 32 39% 91%;
    --muted-foreground: 27 17% 38%;
    --accent: 25 77% 31%;
    --accent-foreground: 39 36 30;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 39 36 30;
    --border: 32 27% 87%;
    --input: 32 27% 87%;
    --ring: 25 77% 31%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-paper text-ink font-sans;
  }
}
